<div class="page">
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_msg <%= icon_style -%>"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title"><%= title -%></h2>
            <p class="weui_msg_desc"><%= description -%></p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:wx.closeWindow();" class="weui_btn weui_btn_primary"><%= button_text -%></a>
            </p>
        </div>
    </div>
</div>
<script type="application/javascript">
  wx.ready(function() {
      wx.hideOptionMenu();
  });
</script>
