<div class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon_msg <%= icon_style -%>"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title"><%= title -%></h2>
            <p class="weui-msg__desc"><%= description -%></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:wx.closeWindow();" class="weui-btn weui-btn_primary"><%= button_text -%></a>
            </p>
        </div>
    </div>
</div>
<script type="application/javascript">
  wx.ready(function() {
      wx.hideOptionMenu();
  });
</script>
